@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --body-font : "Poppins", serif;
  --main-color : #fa4251;
  --dark-color : #000 ;
  --white-color : #fff ;
  --nav-bac : #424242;
}

main{
  font-family: var(--body-font);
  background-color: var(--dark-color);
  color: var(--white-color);


}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  margin-top: 100px;
}

.section-title .text-uppercase.fw-bold{
    transition: 0.5s;
}
.section-title .text-uppercase.fw-bold:hover{
    color: var(--main-color);
    letter-spacing: 1.3px;
    cursor: pointer;
}

.section-title ul{
  margin: 0;
  padding: 0;
  gap: 20px;
}
.section-title ul li{
  list-style: none;
}
.section-title ul li a{
  text-decoration: none;
  color: #fff;
  font-style: italic;
  font-size: 15px;
  font-weight: 500;
  transition: 0.3s;
}
.section-title ul li a:hover,
  .section-title ul li a.active{
  color: var(--main-color);
}
 

.section-title ul li a.active::after{
  content: '}';
 padding-right: 5px;
 color: #fff;
 padding-right: 5px;
}
.section-title ul li a.active::before{
  content: '{';
padding-left: 5px;
color: #fff;
padding-left: 5px;
}
.section-title .Slide-left,
.section-title .Slide-right{
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

.section-title .Slide-left:hover,
.section-title .Slide-right:hover{
  animation: slideri 0.5s alternate infinite ;
  color: var(--main-color);
}

@keyframes slideri {
  100%{
    transform: scale(1.5);
  }
}

.product .images img:nth-of-type(2){
  display: none;
}
.product .images:hover img:nth-of-type(1){
  display: none;
}
.product .images:hover img:nth-of-type(2){
  display: block;
}


.pageHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../src/assets/images/breadcrumb.jpg) ;
  background-position: left center;
  padding: 20px;
}
.pageHeading a{
  color: var(--white-color);
  text-decoration: none;
  font-size: 25px;
  font-weight: 800;
}
.pageHeading div:nth-of-type(2){
  color: var(--nav-bac);
  font-size: 18px;
}
.pageHeading div:nth-of-type(2) span{
  color: var(--white-color);
}
 .ti{
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 30px;
  width: 100%;
  font-weight: 800;
}
 .ti::after{
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -10px;
  left: 0;
}

.Shop .box{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.Shop .box > div{
  width: calc((100% - 40px) / 3);
}
.Shop .box.change{
  flex-direction: column;
}

.Shop .box.change > div{
  width: 100%;
}
.Shop .box.change > div .product{
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #fff;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: #555 0px 13px 27px -5px, #555 0px 8px 16px -8px;

}
.Shop .box.change > div .product .proces{
  top: 5;
 right: -10px;
  left: auto !important;
  transition: 0.8s;
  overflow: hidden;
}
.Shop .box.change > div:hover .product .proces{
  right: 5px;
  opacity: 1;
}

.Shop .box.change > div .product .card-body{
  display: block;
  align-items: start !important;
  margin-top: 50px;
  gap: 5px;
}
.Shop .box.change > div .product p:nth-of-type(1){
  display: inline-block !important;
  opacity: 0.7;
}
.Shop .box.change > div .product .images{
  width: max-content;
}
.Shop .box.change > div .product .images img{
  padding: 10px;
  width: 200px;
}

@media (max-width : 992px) {
  .Shop .box > div{
    width: calc((100% - 20px) / 2);
  }
}
@media (max-width : 768px) {
  .Shop .box > div{
    width: 100%;
  }
  .Shop .box > div .product p:nth-of-type(1){
    display: inline-block !important;
    opacity: 0.7;
  }
}